.conten{
    display: flex;
}

.conten .left_footer .logo_footer{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 56px;
}

.footer .conten .text{
    width: 150px;
    height: 80px;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 30px;
    color: rgb(168, 164, 164);
}

.footer .conten .center_footer{
    width: 500px;
    margin-top: 25px;
    margin-left: 200px;
}

.footer .conten .center_footer a{
    margin-left: 20px;
    color: rgb(168, 164, 164);
    text-decoration: none;
}

.footer .conten .center_footer .row2{
    margin-top: 10px;
}
