#decor-sbheader {
  /* mega menu alignment */
  .middle-header {
    .row.align-items-center {
      .header-center {
        #bizople-header-ten {
          #top_menu {
            .o_mega_menu {
              a.nav-link {
                line-height: 30px;
                border: 0;
              }
              top: 50px;
            }
          }
          position: unset;
        }
        position: unset;
      }
      position: relative;
    }
  }

  /* mega menu alignment end */

  .top-header {
    background-color: #f5f5f5;
    line-height: 52px;
    #top_menu {
      .nav-item {
        color: #000000;
      }
      .nav-item > a.nav-link {
        text-transform: capitalize;
        letter-spacing: 0.2px;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 50px;
        padding: 0 25px;
        color: #000000;
        position: relative;
      }
      li.nav-item:first-child {
        a.nav-link {
          padding-left: 56px;
        }
      }
      .nav-item > dropdown-menu {
        border-radius: 0;
      }
      li.o_extra_menu_items {
        > .nav-link {
          padding: 0;
        }
        .dropdown-menu-right {
          left: 0 !important;
          width: fit-content;
          background-clip: unset;
        }
        > .dropdown-menu {
          > li {
            border: 0 !important;
          }
          background-clip: unset;
          width: fit-content;
        }
      }
    }
  }

  .middle-header {
    background-color: #ffffff;
    .header-left {
      .decor-logo {
        height: 75px;
      }
      .navbar-brand.logo img {
        width: 48px !important;
        height: 48px !important;
        margin: 15px 56px !important;
      }
      line-height: 75px;
    }
    .header-center {
      .form-control.oe_search_box {
        border-radius: 50px !important;
        align-items: center !important;
        width: 424px !important;
        height: 48px !important;
      }
      .btn.btn-primary.oe_search_button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        position: relative;
        right: 45px;
        top: 4px;
      }
    }
    .header-right {
      a.nav-link {
        sup {
          position: absolute;
          top: 0px;
          right: 0;
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 11px;
          border-radius: 50%;
          padding: 0;
        }
        font-size: 18px;
        position: relative;
      }
      .acc-dropdown:after {
        margin: 0;
      }
      .header-myaccount {
        .js_usermenu {
          top: 18px !important;
          left: -100px !important;
          transform: translate3d(0px, 26px, 0px) !important;
          &:before {
            //content: "";
            position: absolute;
            left: unset;
            top: -8px;
            right: 20px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #e5e5e5;
            z-index: 100;
          }
        }
        a.dropdown-toggle::after {
          content: none;
        }
        .acc-dropdown {
          display: flex !important;
        }
        .acc-menu {
          font-size: 21px;
          color: #123456;
          text-align: center;
          width: 50%;
        }
        .acc-icon {
          width: 50%;
        }
        .acc-icon-user {
          font-size: 28px;
        }
        .user_img {
          margin: 0;
          padding: 0;
          display: inline-block !important;
          .img {
            display: inline;
          }
        }
        position: relative;
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        width: 112px;
        height: 48px;
      }
    }
    @media (max-width: 767.98px) {
      .mbl-div {
        justify-content: space-between;
        align-items: center;
      }
      z-index: 1;
      position: relative;
    }
  }
}

.o_header_is_scrolled {
  #decor-header10 {
    .top-header {
      display: none !important;
    }
    .middle-header {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
  }
}

.o_header_overlay #decor-header10 {
  @media (max-width: 767.98px) {
    position: unset !important;
    z-index: unset !important;
  }
}
