.container{
    Width: 1440px;
    Height: 52px;
    Padding: 16px, 56px, 16px, 56px;
    background-color: #F5F5F5;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu_top{
    display: flex;
}

.container .menu_bottom{
    display: flex;
}

.menu1{
    width: 102px;
    height: 20px;
    margin-top: 16px;
    margin-left: 56px;
}

.menu2{
    width: 32px;
    height: 20px;
    margin-top: 16px;
    margin-left: 20px;
}

.menu3{
    width: 62px;
    height: 20px;
    margin-top: 16px;
    margin-left: 20px;
}

.menu4{
    width: 34px;
    height: 20px;
    margin-top: 16px;
    margin-left: 20px;
}

.menub1{
    margin-top: 16px;
    width: 48px;
    height: 48px;
}

.menub1 .logo_header{
    margin-left: 56px;
}

.menub2{
    margin-top: 16px;
    width: 424px;
    height: 56px;
    margin-left: 532px;
    border-radius: 50px;
    padding: 8px, 8px, 8px, 20px;
    border: 1px solid #E0E0E0;
}

.menub2 .input{
    width: 310px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    border: 0;
    padding: 8px 8px 8px 20px;
}

.menub2 .btn_search{
    width: 40px;
    height: 40px;
    margin-top: -38px !important;
    margin-left: 376px;
    position: absolute;
    border-radius: 50%;
    background: #F5333F;
}

.menub2 .btn_search:hover{
    background: rgb(235, 86, 81);
}

.menub2 .btn_search .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.menub3 .menu_br .fas{
    margin-top: 20px;
    margin-left: 24px;
    width: 24px;
}

.menub3{
    margin-top: 16px;
    width: 112px;
    height: 56px;
    margin-left: 150px;
    border-radius: 50px;
    border: 1px solid #E0E0E0;
}
.menu-row{
    margin-top: 16px;
    border: 1px solid #E0E0E0;
}

.menub3 .menu_img{
    background: #F5333F;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: 65px;
}

.menub3 .menu_img .fas{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    transform: translate(-50%,-50%);
}

.footer{
    Width: 1440px;
    height: 487px;
    background-color: #323232;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conten{
    display: flex;
}
.footer .conten .left_footer .logo_footer{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 56px;
}

.footer .conten .text{
    width: 150px;
    height: 80px;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 30px;
    color: rgb(168, 164, 164);
}

.conten2{
    display: flex;
}

.conten2 .left_footer2{
    width: 300px;
    height: 80px;
    margin-top: 25px;
    margin-left: 56px;
    color: rgb(168, 164, 164);
}

.footer .conten .center_footer{
    width: 500px;
    margin-top: 25px;
    margin-left: 200px;
}

.footer .conten .center_footer a{
    margin-left: 20px;
    color: rgb(168, 164, 164);
    text-decoration: none;
}

.footer .conten .center_footer .row2{
    margin-top: 10px;
}

.footer .right_footer{
    margin-left: 150px;
    margin-top: 25px;

}

.footer .right_footer .conten_right{
    width: 200px;
    color: rgb(168, 164, 164);
    text-align: center;
}

.conten2 .text2{
    width: 500px;
}

.conten2 .center_footer2{

    width: 50px;
    margin-top: 20px;
    border-radius: 30px;
    z-index:  1;
}

.conten2 .center_footer2 .email{
    width: 246px;
    height: 48px;
    margin-left: 200px;
}

.conten2 .center_footer2 .fb2{
    width: 50px;
    border-radius: 30%;
    margin-left: 40px;
    margin-top: 10px;
}

.conten2 .right_footer2 .fb2{
    width: 50px;
    margin-top: 90px;
}

.conten-sosmed{
    margin-top: 10px;
    display: flex;
}

.conten-sosmed .img-yt{
    margin-left: 15px;
}
.conten-sosmed .img-ig{
    margin-left: 15px;
}

.one {
    margin-top: 40px;
    width: 1329px;
    margin-left: 56px;
    border: none;
    height: 2px;
    background: #9E9E9E;
}

.footer-bottom{
    display: flex;
    margin-top: 20px;
}
.conten-bottom-left{
    width: 340px;
    margin-left: 56px;
}
.conten-bottom-left .conten-left1{
    color: #9E9E9E;
    height: 20px;
}

.conten-row2{
    display: flex;
}

.conten-row2 .conten-left2{
    width: 64px;
    height: 64px;
}
.conten-row2 .conten-left3{
    width: 64px;
    height: 64px;
    margin-left: 4px;
}
.conten-row2 .conten-left4{
    width: 64px;
    height: 64px;
    margin-left: 4px;
}
.conten-row2 .conten-left5{
    width: 64px;
    height: 64px;
    margin-left: 4px;
}
.conten-row2 .conten-left6{
    width: 64px;
    height: 64px;
    margin-left: 4px;
}
.footer-row3{
    margin-left: 56px;
    color: #9E9E9E;
}
.conten-icon-row3{
    display: flex;
}
.conten-img-row3{
    width: 64px;
    height: 64px;
}
.conten-img2-row3{
    width: 64px;
    height: 64px;
}
.conten-img3-row3{
    width: 64px;
    height: 64px;
}
.conten-center-footer{
    width: 341px;
    color: #9E9E9E;
    margin-left: 120px;
}
.conten-center-1{
    display: flex;

}
.conten-left-row3{
    height: 20px;
}
.conten-center-row2{
    height: 20px;
}

.conten-center-2{
    width: 64px;
    height: 64px;
}
.conten-center-4{
    width: 64px;
    height: 64px;
}
.conten-center-3{
    width: 64px;
    height: 64px;
}
.conten-right-bottom{
    color: #9E9E9E;
    margin-left: 10px;
    height: 20px;

}
.conten-icon-btm{
    display: flex;
}
.bottom-right-footer {
    margin-left: 230px;
}

.conten-icon-btm .conten-right-icon1 img{
    height: 64px;
    width: 64px;
}
.container-body{
    position: relative;
    margin-top: -190px;
    Width: 1460px;
    bottom: 50px;
    /* border:  solid 1px; */
}
.container-body .main-carousel{
    margin-top: 20px;
    margin-left: 76px;
    height: 450px;
    width: 1340px;
    /* border: solid 1px; */
}
.main-carousel .img1{
    width: 48px;
    height: 428px;
}
.main-carousel .img1-blog{
    width: 550px;
    height: 368px;
    opacity: 1;
}
.main-carousel .img2-blog{
    margin-left: 44px;
    width: 550px;
    height: 368px;
}
.main-carousel .img3-blog{
    margin-left: 44px;
    width: 550px;
    height: 368px;
}
.main-carousel .img2{
    margin-left: 322px;
    width: 348px;
    height: 428px;
    /* border: solid black 1px; */
}
.main-carousel .img3{
    margin-left: 22px;
    width: 348px;
    height: 428px;
}
.main-carousel .img4{
    margin-left: 25px;
    width: 348px;
    height: 428px;
    /* border: solid 1px; */
}
.header-text{
    width: 1260px;
    text-align: center;
}
.header-text-blog{
    margin-left: 76px;
    width: 1260px;
    text-align: left;
}
.link{
    position: relative;
    z-index: 1;
}

.description{
    height: 50px;
    margin-left: 20px;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 298px;
    padding: 15px;
    background-color: rgba(0, 0, 0,.3);
    border-radius: 0px 0px 24px 24px;
    opacity: 0;
}
.blog-btn{
    height: 22px;
    width: 200px;
    margin-left: 290px;
    position: absolute;
    left: 0;
    bottom: 24px;
    padding: 15px;
    background: #F5333F;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.blog-btn .link{
    text-decoration: none;
}
.conten-desc{
    width: 280px;
    text-align: left;
    color: #f3eced;
    font-size: 14px;
    opacity: 0;
}

.container-body .cell a{
    color: #F5F5F5;
    opacity: 1;
}
.container-body .cell:hover .conten-desc{
    opacity: 1;
}
.container-body .cell:hover .conten-desc a{
    opacity: 1;
}
.container-body .cell:hover .description{
    opacity: 1;
}


.banner{
    margin-top: -50px;
    width: 1328px;
    height: 482px;
    margin-left: 56px;
}

.banner .flickity-button{
    display: none;
}

.buttom-top{

    display: flex;
    position: relative;
    top: 410px;
    left: 1200px;
    z-index: 1;
    width: 132px;
    height: 45px;
    background: rgba(255, 255, 255,.6);
    border-radius: 5px;
}

.icon-group{
    margin-left: 10px;
    margin-top: 15px;
}
.text-icon{
    margin-top: 15px;
    margin-left: 5px;

}

.text-icon a{
    text-decoration: none;
    color: black;
}

.banner .main-carousel img{
    width: 1328px;
    height: 482px
}

.container-body .main-carousel .flickity-page-dots .dot{
    opacity: 0;
}
.container-body-blog .main-carousel .flickity-page-dots .dot{
    display: none;
}

.container-populer .content .button_content .main-carousel .flickity-page-dots .dot{
    display: none;
}

.cell .description .conten-desc a{

}
.menu_services{
    margin-top: 56px;
    display: flex;
    height: 112px;
    margin-left: 80px;
}

.menu_services .conten_1{
    width: 210px;
    height: 112px;
    margin-top: 25px;
    margin-left: 56px;
    padding: 20px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    flex-direction: row;
    align-items: flex-end;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #123456;
}

.conten_1 .s1{
    width: 201px;
    height: 112px;
    position: relative;
    right: 18px;
    bottom: 46px;
    opacity: 1;

}

.conten_1 .s1-hover{
    /* border: solid red 2px; */
    width: 204.5px;
    height: 120px;
    right: 1014px;
    position: absolute;
    bottom: 370px;
    opacity:0;
    background: white;
    z-index: 1;
}
.conten_2 .s2-hover{
    width: 204.5px;
    height: 120px;
    right: 779px;
    position: absolute;
    bottom: 370px;
    opacity:0;
    background: white;
    z-index: 1;
}
.conten_3 .s3-hover{
    width: 204.5px;
    height: 120px;
    right: 543px;
    position: absolute;
    bottom: 370px;
    opacity:0;
    background: white;
    z-index: 1;
}
.conten_4 .s4-hover{
    width: 204.5px;
    height: 120px;
    right: 307px;
    position: absolute;
    bottom: 370px;
    opacity:0;
    background: white;
    z-index: 1;
}
.conten_5 .s5-hover{
    width: 204.5px;
    height: 120px;
    right: 70px;
    position: absolute;
    bottom: 370px;
    opacity:0;
    background: white;
    z-index: 1;
}

.conten_1 .s1-hover:hover{
    opacity:1;
}
.conten_2 .s2-hover:hover{
    opacity:1;
}
.conten_3 .s3-hover:hover{
    opacity:1;
}
.conten_4 .s4-hover:hover{
    opacity:1;
}
.conten_5 .s5-hover:hover{
    opacity:1;
}

.menu_services .conten_2{
    border-radius: 20px;
    width: 210px;
    height: 100px;
    margin-top: 25px;
    margin-left: 24px;
    padding: 20px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    flex-direction: row;
    align-items: flex-end;
}

.conten_2 .s2{
    width: 201px;
    height: 112px;
    position: relative;
    left: -17px;
    right: 18px;
    bottom: 46px;
}

.menu_services .conten_3{
    border-radius: 20px;
    width: 210px;
    height: 100px;
    margin-top: 25px;
    margin-left: 27px;
    padding: 20px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    flex-direction: row;
    align-items: flex-end;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.conten_3 .s3{
    width: 201px;
    height: 112px;
    position: relative;
    left: -17px;
    right: 18px;
    bottom: 46px;
}

.menu_services .conten_4{
    border-radius: 20px;
    width: 210px;
    height: 100px;
    margin-top: 25px;
    margin-left: 27px;
    padding: 20px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    flex-direction: row;
    align-items: flex-end;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.conten_4 .s4{
    width: 201px;
    height: 112px;
    position: relative;
    left: -17px;
    right: 18px;
    bottom: 46px;
}

.menu_services .conten_5{
    border-radius: 20px;
    width: 210px;
    height: 100px;
    margin-top: 25px;
    margin-left: 27px;
    padding: 20px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    flex-direction: row;
    align-items: flex-end;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.conten_5 .s5{
    width: 201px;
    height: 112px;
    position: relative;
    left: -17px;
    right: 18px;
    bottom: 46px;
}

.container-kalkulator{
    width: 1440px;
    height: 480px;
}
.conten-kalkulator h2{
    text-align: center;
}
.konten-kalkulator2{
    text-align: center;

}
.cont-cal{
    width: 1440px;
    height: 244px;
}
.background-biaya{
    /* border: solid 1px; */
    width: 1440px;
    height: 244px;
}
.calculator-grid{
    width: 1440px;
    height: 249px;
    position: relative;
    bottom: 350px;
    display: flex;
    margin-left: 56px;

}
.kpr{
    margin-left: 45px;
    width: 630px;
    height: 249px;
}
.kpr-hover{
    /* border: solid red 1px; */
    width: 630px;
    position: relative;
    bottom: 255px;
    right: 20px;
    height: 249px;
}
.img-rab{
    width: 630px;
    height: 249px;
}
.rab-hover{
    width: 630px;
    position: relative;
    bottom: 255px;
    height: 249px;
    background: white;
    opacity: 0;
}
.rab-hover:hover{
    opacity: 1;
}

.overlay{
    position: absolute;
}

.container-populer{
    position: relative;
    margin-top: 5px;
    Width: 1360px;
    bottom: 200px;
}

.container-populer .header-text{
    width: 1260px;
    text-align: left;
    margin-left: 80px;
    font-family: Museo;
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
    color: #212121;
}

.two {
    margin-top: 0px;
    width: 1329px;
    margin-left: 56px;
    border: 2px solid #F5F5F5;
    background: #F5F5F5;
}

.container-populer .wrapper .button_tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 1329px;
    height: 52px;
    left: 46px;
    margin-top: 0px;
    opacity:1;
}

.container-populer .wrapper .button_tabs label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 222px;
    height: 52px;
    margin-left: 27px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 16px;
}

.container-populer .wrapper .button_tabs label .radio_mark{
   font-family: Museo Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #123456;
    text-align:center;
}

.container-populer .wrapper .button_tabs label .input{
    font-weight: 600;
    line-height: 20px;
    border: solid 1px #F5333F;
    background: #F5333F;
    width:50px;
    position:absolute;
    opacity:0;
}

.container-populer .wrapper .button_tabs .active{
    background: #F5333F;
    color: #FFFFFF;
}

.container-populer .wrapper .button_tabs .active .radio_mark{
    color: #FFFFFF;
}

.container-populer .wrapper .content .renovasi .main-carousel{
    margin-top: 20px;
    margin-left: 76px;
    height: 450px;
    width: 1329px;
}

.container-populer .wrapper .content .desain .main-carousel{
    margin-top: 20px;
    margin-left: 76px;
    height: 450px;
    width: 1329px;
}

.container-populer .wrapper .content .material .main-carousel{
    margin-top: 20px;
    margin-left: 76px;
    height: 450px;
    width: 1329px;
}

.main-carousel .cell_img1{
    margin-left:40px;
    width: 260px;
    height: 392px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 20px;
}

.main-carousel .cell_img2{
    margin-left:40px;
    width: 260px;
    height: 392px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 20px;
}

.main-carousel .cell_img3{
    margin-left:40px;
    width: 260px;
    height: 392px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 20px;
}

.main-carousel .cell_img4{
    margin-left:40px;
    width: 260px;
    height: 392px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 20px;
}

.main-carousel .cell_img5{
    margin-left:40px;
    width: 260px;
    height: 392px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 20px;
}

.main-carousel .cell_img1 .img1{
    margin-left:0px;
    width: 258px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
}

.main-carousel .cell_img2 .img2{
    margin-left:0px;
    width: 258px;
    height: 260px;
}

.main-carousel .cell_img3 .img3{
    margin-left:0px;
    width: 258px;
    height: 260px;
}

.main-carousel .cell_img4 .img4{
    margin-left:0px;
    width: 258px;
    height: 260px;
}

.main-carousel .cell_img5 .img5{
    margin-left:0px;
    width: 258px;
    height: 260px;
}

.main-carousel .cell_img1 .text_1{
    width: 228px;
    height: 60px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 15px;
}

.main-carousel .cell_img2 .text_1{
    width: 228px;
    height: 60px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 15px;
}

.main-carousel .cell_img3 .text_1{
    width: 228px;
    height: 60px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 15px;
}

.main-carousel .cell_img4 .text_1{
    width: 228px;
    height: 60px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 15px;
}

.main-carousel .cell_img5 .text_1{
    width: 228px;
    height: 60px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 15px;
}

.cell_img1 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100px;
    color: #F5333F;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.cell_img2 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100px;
    color: #F5333F;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.cell_img3 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100px;
    color: #F5333F;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.cell_img4 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #F5333F;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.cell_img5 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100px;
    color: #F5333F;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.desain .main-carousel .cell_img4 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100px;
    color: #F5333F;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.material .main-carousel .cell_img4 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100px;
    color: #757575;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.material .main-carousel .cell_img1 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #757575;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.material .main-carousel .cell_img5 .text_1 .row2 .text_2{
    width: 228px;
    height: 60px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #757575;
    align-self: stretch;
    flex-grow: 0;
    top:100px;
    margin: 5px 0px;
}

.container-popup{
    position: relative;
    width: 914px;
    height: 630px;
    background: #FFFFFF;
    border-radius: 20px;
    border:solid 1px;
    opacity:0;
    visibility:hidden;
}

#click{
    display:none;
}

#click:checked ~ .container-popup{
    opacity:1;
    visibility:visible;
}

.fa-times{
    position:absolute;
    width:12px;
    height:12px;
    left: 30px;
    top: 30px;
}

.container-popup .header-text{
    position: absolute;
    width: 300px;
    height: 30px;
    left: 311px;
    top: 28px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #212121;
}

.three{
    position: absolute;
    width: 914px;
    height: 0px;
    left: 0px;
    top: 78px;
    border: 1px solid #E0E0E0;
}

.container-popup .container-row1{
    position: absolute;
    width: 914px;
    height: 112px;
    left: 0px;
    top: 126px;
}

.container-popup .column1{
    position: absolute;
    width: 246px;
    height: 112px;
    left: 56px;
    padding: 20px 16px;
    border:solid 1px;
    background: #FFFFFF;
    border: 2px solid #123456;
    box-sizing: border-box;
    border-radius: 20px;
}

.container-popup .column2{
    position: absolute;
    width: 246px;
    height: 112px;
    left: 334px;
    padding: 20px 16px;
    border:solid 1px;
    background: #FFFFFF;
    border: 2px solid #123456;
    box-sizing: border-box;
    border-radius: 20px;
}

.container-popup .column3{
    position: absolute;
    width: 246px;
    height: 112px;
    left: 612px;
    padding: 20px 16px;
    border:solid 1px;
    background: #FFFFFF;
    border: 2px solid #123456;
    box-sizing: border-box;
    border-radius: 20px;
}

.container-popup .container-row2{
    position: absolute;
    width: 914px;
    height: 112px;
    left: 0px;
    top: 294px;
}

.container-popup .container-row3{
    position: absolute;
    width: 591px;
    height: 112px;
    left: 0px;
    top: 462px;
}

.container-popup .column1 .img_1{
    display:flex;
    border:solid 1px;
    width: 225px;
    height: 80px;
    left: 16px;
    top: 20px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.container-popup .column2 .img_1{
    display:flex;
    border:solid 1px;
    width: 225px;
    height: 80px;
    left: 16px;
    top: 20px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.container-popup .column3 .img_1{
    display:flex;
    border:solid 1px;
    width: 200px;
    height: 80px;
    left: 16px;
    top: 20px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.container-popup .column1 .img_1 .s1{
    position: relative;
    width: 42px;
    height: 42px;
    left: 80px;
    top: 35px;
}

.container-popup .column2 .img_1 .s1{
    position: relative;
    width: 42px;
    height: 42px;
    left: 80px;
    top: 35px;
}

.container-popup .column3 .img_1 .s1{
    position: relative;
    width: 42px;
    height: 42px;
    left: 80px;
    top: 35px;
}

.container-body-blog{
    width: 1321px;
    margin-left: 56px;
    margin-bottom: 25px;
}

.container-port{
    width: 1441px;
    height: 574px;
    left: 0px;
    top: 2608px;
}

.container-port .group{
    display:flex;
    width: 1329px;
    height: 542px;
    margin-left: 56px;
    margin-top: 16px;
}

.container-port .group .frame1 .f1{
    width: 570px;
    height: 542px;
    left: 56px;
    top: 16px;
    border-radius: 20px;
}

.container-port .group .main-carousel{
    position:relative;
    width: 932px;
    height: 470px;
    margin-left: -176px;
    margin-top: 35px;
}

.container-port .group .frame2{
    width: 930px;
    height: 470px;
    left: -190px;
}

.container-port .group .frame2 .f1{
    position:relative;
    width: 930px;
    height: 470px;
    left: 0px;
}

.container-port .group .frame2 .t1{
    position:absolute;
    width: 884px;
    height: 90px;
    margin-left: 20px;
    margin-top: -100px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.container-port .group .frame1 .t1{
    width: 293px;
    height: 100px;
    font-family: Museo;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
    margin-left:50px;
    margin-top:-500px;
    position:absolute;
}

.container-port .group .frame1 .f2{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 110px;
    margin-top: 368px;
}

.container-port .group .frame1 .t2{
    position: absolute;
    width: 293px;
    height: 30px;
    margin-left: 50px;
    margin-top: -80px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.container-port .group .frame1 .f3{
    position: relative;
    width: 180.33px;
    height: 46px;
    left: 50px;
    top: -370px;
    padding: 8px 16px;
    border: 2px solid #F5333F;
    box-sizing: border-box;
    border-radius: 52px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #F5333F;
}

.container-port .group .frame1 .f3 .text{
    width: 180.33px;
    height: 46px;
    left: 50px;
    margin-top: -3px;
    font-family: Museo Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #F5333F;
}

.container-port .group .frame1 .f3 .gambar{
    position:relative;
    width: 21.33px;
    height: 21.33px;
    left: 120px;
    top: -40px;
}

.container-port .group .frame3 .f1{
    width: 127px;
    height: 12px;
    margin-left: -130px;
    margin-top: 527px;
}

.container-port .group .flickity-page-dots .dot{
    /* display: none; */
    position: relative;
    left: 765px;
    top: 90px;
    border: solid red 1px;
}

.text a{
    color: #F5333F;
    text-decoration: none;
}

.main-carousel .img5{
    margin-left: 25px;
    width: 348px;
    height: 428px;
    /* border: solid 1px; */
}
.arw .arrow-inovasi{
    position: relative;
    /* background: yellow; */
    /* border: solid black 2px; */
    bottom: 100px;
    left: 240px;
    cursor: pointer;

}
.main-carousel .img4-blog{
    margin-left: 44px;
    width: 550px;
    height: 368px;
}
.arw-blog .arrow-blog{
    position: relative;
    /* background: green; */
    z-index: 1;
    /* border: solid black 5px; */
    bottom: 100px;
    left: 450px;
}


