
/* Quick View
------------------------------*/
.quick_modal_wrap {
	.modal {
		background-color: rgba(0,0,0,.5);
	}
	.quick_close, .select_close {
	    position: absolute;
        top: 5px;
    	right: 7px;
        width: 35px;
    	height: 35px;
	    background: transparent;
	    border: none;
	    border-radius: 50%;
	    z-index: 999;
	    i {
	    	color: rgba(168, 168, 168, 0.5);
			font-size: 26px;
	    }
	   
	   &:focus {
		    outline: 0px dotted !important;
		    outline: 0px auto -webkit-focus-ring-color !important;
	   }
	}
	.quick-modal-backdrop, .select-modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.8);
		z-index: 1050;
	}
	.quick-modal, .select-modal {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    max-width: 1280px;
	    width: 100%;
	    margin: auto;
	    display: flex;
	    z-index: 1053;
	    align-items: center;
	    justify-content: center;
	    //padding: 30px;

	    @media(max-width:767.98px){
	    	top: 20px;
			bottom: 20px;
	    }
	    .modal-open & {
	    	z-index: 1050;
	    }
		.quick-popout, .select-popout {
			background-color: white;
		    padding: 40px 15px;
		    border-radius: 0px;
		    max-height: 100%;
		    overflow-y: auto;
		    //width: 100%;
		    z-index: 1;
	        position: relative;
		}
	}
	.quick-modal{
		#product_detail{
			#o-carousel-product .carousel-outer{
				.carousel-inner{
					.carousel-item{
						div{
							img{
								max-height: 400px;

								@media (max-width: 991.98px) {
									max-height: 350px;
								}
							}
						}
					}
				}
				
			}
		}
	}

	.select-modal {
		.select-popout{
		    width: 100%;
			padding: 40px 0 0;
		}
		#product_detail #o-carousel-product .carousel-control-prev, #product_detail #o-carousel-product .carousel-control-next {
			span{
				box-shadow: unset !important;
			}
			top: 50% !important;
			transform: translateY(-50%);
    		bottom: unset !important;
		}
		.product_price{
			.oe_price_h4{
			    color: theme-color('primary');
			    width: 100%;
			    font-size: 18px !important;
			    font-weight: 600;
			    transition: 0.3s;
			    -webkit-transition: 0.3s;
		        line-height: 1.2 !important;
	            margin-bottom: 10px !important;
	            font-family: "Odoo Unicode Support Noto", "Barlow";

	            .oe_default_price{
	            	color: theme-color('primary') !important;
	            }
			}
			margin: 0 !important;
			padding: 0 !important;
			border: 0 !important;
		}

		#product_details .css_quantity {
			.input-group-prepend .btn, .input-group-append .btn{
				.fa{
				    line-height: 35px;
				}
			    width: 30px;
				height: 35px;
				font-size: 12px;
				border-radius: 0;
			}
			input.quantity {
				width: 45px;
    			height: 35px !important;
			    font-size: 15px;
			}
		}

		#product_details{
			.product-name{
				@media (max-width: 767.98px) {
				    font-size: 20px;
    				margin-bottom: 10px;
				}
			}
		}

		#product_detail #product_details .ajax-cart-btn{
			margin-right: 0 !important;
		    background: theme-color('primary') !important;
		    &:hover{
				border-color: theme-color('primary') !important;
			}
		}

		#product_detail #product_details #buy_now{
			margin-right: 0 !important;
			margin-left: 0 !important;
			background: transparent !important;
			color: theme-color('primary');
			&:hover{
				background: theme-color('primary') !important;
				color: #ffffff;
			}
		}

		#product_details .cart-buy-btn {
			#buy_now, .ajax-cart-btn{
			    -webkit-box-flex: 1;
			    -webkit-flex: 1 1 auto;
			    flex: 1 1 auto;
			    margin: 0 !important;
			}
		    display: inline-flex;
		    width: 100%;
		    margin: 0;
		}

		.ajax_cart_modal_tools {
			.ajax-cart-btn{
			    display: block;
			    padding: 0.4rem 1.5rem !important;
			    border-radius: 0px !important;
			    font-size: 15px;
			    line-height: 26px;
			    font-weight: 600;
			    text-transform: uppercase;
			}
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 1 auto;
		    flex: 1 1 auto;
		    margin: 0 !important;
		}
		#product_details li.variant_attribute{
			.attribute_name{
			    width: 100% !important;
			}
		    margin: 0 15px;
		    display: block !important
		}
		#product_details li.variant_attribute > ul.list-unstyled {
		    justify-content: center;
	        display: flex;
    		flex-wrap: wrap;
		}
		#product_details li.variant_attribute strong {
			margin-right: 0;
		}
		#product_details li.variant_attribute > ul.list-unstyled > .js_attribute_value {
		    margin-right: 25px !important;
		    &:last-child{
		    	margin-right: 0 !important;
		    }
		}


		#product_details li.variant_attribute select.form-control {
		    display: block !important;
    		width: 100% !important;
    		margin-top: 10px;
		    padding: 5px 20px;
    		height: 40px !important;
		    border-radius: 0;
		}
		form label {
		    font-weight: 400;
		}
		max-width: 450px;
		@media(max-width:767.98px){
			max-width:320px;
		}
	}

	#product_detail{
		padding: 0 !important;
	}
	#o-carousel-product{
		.carousel-outer{
		    height: 450px !important;
		    @include media-breakpoint-down(md){
		    	height: 320px !important;
		    }
		}
		.carousel-indicators{
		    max-height: 450px !important;
		}
	}
	.select-modal {
		#o-carousel-product{
			.carousel-outer{
			    height: 200px !important;
		        border: 0 !important;

		        .carousel-item{
		        	img{
		        		height: inherit;
		        		object-fit: contain;
		        	}
		        }
			}
			div.d-none.d-md-block.text-center{
				display:none !important; 
			}
			.o_carousel_product_indicators {
			    max-height: 200px !important;
			    display: none !important;
			}
			.carousel-control-prev, .carousel-control-next{
				.fa{
				    background-color: transparent;
				    color: theme-color('primary');
				}
				width: 0%;
			}
		}
	}
	#product_details {
		padding-left: 15px;
		h1 {
			font-size: 24px;
		    line-height: 30px;
		    font-weight: 500;
		    text-transform: capitalize;
		    margin-bottom: 20px;
		}
		.product_price{
			font-size: 28px;
		    padding-bottom: 10px;
		    margin-bottom: 0px;
		    color: theme-color('primary') !important;
		    font-weight: 500;
		    line-height: 24px;
		}
		.css_quantity{
			.label{
				font-size:16px;
				color:theme-color('secondary') !important;
				font-weight: 600;
    			margin-bottom: 0;
    			margin-right:22px;
			}
			.control-qty {
			    position: relative;
			    margin-left: -1px;
			    float: left;
			    border: 1px solid #ebebeb;
			    border-radius: 0px;
			}
			.control-qty:before {
			    content: "";
			    display: block;
			    width: 22px;
			    height: 1px;
			    background-color: #ebebeb;
			    position: absolute;
			    left: 8px;
			    top: 50%;
			}
			.js_add_cart_json{
				display: block;
			    width: 38px;
			    text-align: center;
			    line-height: 18px;
			    cursor: pointer;
			    padding:2px !important;
			    font-size: 12px !important;
			}
			.quantity{
				width: 70px;
			    text-align: center;
			    font-size: 100%;
			    border: 1px solid #ebebeb;
			    line-height: 1.66;
			    background-color: #fff;
			    border-radius: 0px;
			    box-shadow: none !important;
			    -webkit-box-shadow: none !important;
			    max-width:unset !important;
			}
		}
	}
	
}

.quick-modal{
	.quick-popout{
		width: 85%;
		#product_detail{
			.product-img-section{
				.product-img-box{
					.carousel{
						.carousel-outer{

						}
					}
				}
			}
		}
		#product_details{
			.product-name-share{
				border-bottom: 1px solid #ebebeb;
				.product_price{
					margin-bottom: 0px !important;
				}
				.dropdown{
					.nav-link.dropdown-toggle{
						span{
							&:after{
								display: none;
							}
						}
					}
				}
				.product-rating{
					border-bottom: 0px !important;
				}
				.product-name{
					margin-bottom: 15px !important;
				}
				.view-detail{
					font-size: 12px;
				}
			}
			.js_product.js_main_product{
				.js_add_cart_variants{
					.variant_attribute{
						.attribute_name{
							width: 17% !important;
							@media(max-width:767.98px){
								width: 37% !important;
							}
						}
						ul.list-unstyled{
							@media(max-width:767.98px){
								width:180px;
							}
						}
					}
				}
			}
			.css_quantity{
				margin-bottom: 0px !important;
				.label{
					width: auto !important;
					margin-right: 30px !important;
				}

				.control-qty{
					.input-group-append{
						a{
							i{
								&:before{
									content: "\ea11" !important;
									font-family: 'remixicon' !important;
								}
							}
						}
					}
					.input-group-prepend{
						a{
							i{
								&:before{
									content: "\f0fb" !important;
									font-family: 'remixicon' !important;
								}
							}
						}
				    }
				}
			}
			.ajax_cart_modal_tools{
				.qv-ajax-cart{
					display: block !important;
				}
			}
		}
	}
}
