 <section style="    padding:35px;     background-color: #1b1b1b;">
    <div class="row justify-content-md-between justify-content-center align-items-center py-2 mx-0">
    <div>
    <a href="https://www.bizople.com/" style="text-decoration:none;">
        <img class="img img-fluid" style="height: 80px; text-align: center;" src="https://www.bizople.com/web/image/website/1/logo/Bizople%20Solutions%20Pvt.%20Ltd.?unique=6a33a9d"></img>
    </a>
    </div>
    <div class="s_btn text-center pt0" data-name="Button">
            <a href="#" target="_blank" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
        border: 1px solid #fff; border-radius: 0px; color:white; font-family:Montserrat;"> <i class="fa fa-check-square-o"></i> Community</a>
        
          <a href="#" target="_blank" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
        border: 1px solid #fff; border-radius: 0px; color:white; font-family:Montserrat;"> <i class="fa fa-check-square-o"></i>  Enterprise</a>

          <a href="#" target="_blank" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
                          border: 1px solid #fff; border-radius: 0px; color:white; font-family:Montserrat;"> <i class="fa fa-check-square-o"></i>  Odoo.sh</a>
        
        </div>
    <div >
          
            <a href="mailto:info@bizople.com" class="btn btn-primary btn-lg mt16 mb16" style="background-color: #ff8a00;
          border: 1px solid #ff8a00; border-radius: 0px; color:white; font-family: Montserrat; margin-right: .75rem;">Email Us</a>
          
            <a href="skype:live:bizoples?chat" class="btn btn-primary btn-lg mt16 mb16" style="background-color: #ff8a00;
          border: 1px solid #ff8a00; border-radius: 0px; color:white; font-family: Montserrat;">Skype</a>

    </div>                   
    </div>
	</section>

  <section class="warning-banner">
    <div class="container mt32 mb32" style="background-color: #c75d5d">
      <p class="m-0" style="padding: 50px;text-align: center;font-size: 25px;color: white;">This module only works with Theme Decor. So don't buy it separatly.</p>
    </div>
  </section>

  <div class="alert alert-info" style="background-color: #ff8a00;color: white; font-size: 30px; border-radius: 0px; margin-bottom: 0px;">
    <h1 style="font-size: 21px;margin-top: 20px;margin-bottom: 20px;color: white;"><strong>Note :- </strong> This Product is developed and tested with Odoo Addons for declared compatible versions and does not guarantee compatibility with any 3rd party module.
      <a href="mailto:support@bizople.com" style="color: #020a17;">Contact us</a> for more information or in case of any trouble with this module.
    </h1>
  </div>

  <section style=" padding: 60px; text-align: center; background-color: #1b1b1b;">
        <div class="container">
          <a href="https://www.bizople.com/" style="text-decoration:none;">
              <img class="img img-fluid" style="height: 80px; text-align: center;" src="https://www.bizople.com/web/image/website/1/logo/Bizople%20Solutions%20Pvt.%20Ltd.?unique=6a33a9d"></img>
              <p style="color:white;margin:44px 0px;font-size: 21px; font-family: Montserrat; line-height: 40px;">Bizople Solutions is a team of technocrats highly experienced in ERP Implementation and Customization.We work everyday to provide the best solutions with our excellence in the various area of digitization to grow the business revenue of our clients. Our young technology people love to help the customer with the most satisfactory service in Odoo ERP and E-commerce + Theme Development.</p>
          </a>
          <div>
              <div class="s_btn text-center pt0 pb48" data-name="Button">
                  <a href="https://www.bizople.com/services" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
              border: 1px solid white; border-radius: 0px; color:white; font-family: Montserrat;"> Our Odoo Services</a>
              
                <a href="https://www.bizople.com/contactus" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
              border: 1px solid white; border-radius: 0px; color:white; font-family: Montserrat;"> Hire Odoo Developer</a>
              
                <a href="mailto:info@bizople.com" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
              border: 1px solid white; border-radius: 0px; color:white; font-family: Montserrat;">Email Us</a>
              
                <a href="skype:live:bizoples?chat" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: transparent !important;
              border: 1px solid white; border-radius: 0px; color:white; font-family: Montserrat;">Skype</a>
              
              </div>
              
              <div class="s_btn text-center pt0" data-name="Button">
            <a href="https://apps.odoo.com/apps/modules/browse?search=bizople" target="_blank" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: #ff8a00;border: 1px solid #ff8a00;border-radius: 0px;color:white;font-family:Montserrat;"> <i class="fa fa-file-code-o"></i>  All Apps</a>
            
              <a href="https://apps.odoo.com/apps/themes/browse?search=bizople" target="_blank" class="btn btn-outline-primary btn-lg mt16 mb16" style="background-color: #ff8a00;border: 1px solid #ff8a00;border-radius: 0px;color:white;font-family:Montserrat;"> <i class="fa fa-eyedropper"></i>  All Themes</a>
            
            </div>
              
             <a class="oe_share_facebook" href="https://www.facebook.com/bizople/" style="margin-right: 8px; font-size: 20px; width: 40px; height: 40px; background-color: #fff; display: inline-block; line-height: 40px; order-radius: 0px; text-align: center; color: #ff8a00; box-shadow: 0 5px 10px 0 rgba(130, 136, 184, 0.2);">
          <i class="fa fa-facebook"></i>
          </a>  
          <a class="oe_share_twitter" href="https://twitter.com/bizoples" style="margin-right: 8px; font-size: 20px; width: 40px; height: 40px; background-color: #fff; display: inline-block; line-height: 40px; order-radius: 0px; text-align: center; color: #ff8a00; box-shadow: 0 5px 10px 0 rgba(130, 136, 184, 0.2);">
          <i class="fa fa-twitter"></i>
          </a>
          <a class="_blank" href="https://www.linkedin.com/company/bizople-solutions" style="margin-right: 8px;font-size: 20px; width: 40px; height: 40px; background-color: #fff; display: inline-block; line-height: 40px; order-radius: 0px; text-align: center; color: #ff8a00; box-shadow: 0 5px 10px 0 rgba(130, 136, 184, 0.2);">
                  <i class="fa fa-linkedin"></i>
                </a>
          <a class="_blank" href="https://www.youtube.com/channel/UCpAQZ63QOhlINj46Wbtd_HA" style="margin-right: 8px; font-size: 20px; width: 40px; height: 40px; background-color: #fff; display: inline-block; line-height: 40px; order-radius: 0px; text-align: center; color: #ff8a00; box-shadow: 0 5px 10px 0 rgba(130, 136, 184, 0.2);">
            <i class="fa fa-youtube-play"></i>
          </a>
          </div>                   
        </div>
  </section>