.editor_enable{
	.navbar-collapse #top_menu{
		flex-wrap: wrap !important;
	}
}
.header-cart-sidebar{
	.cart-btn.show_cart_sidebar{
		cursor: pointer;
	}
}
header{
	.header_cart,.header_wishlist{
		a{
			.icon{
				vertical-align: middle !important;
			}
		}
	}
}
@mixin dropdown-caret-mixin{
	.dropdown-toggle{
		&:after{
			border: 0 !important;
		    content: "\ea4e";
		    font-family: 'remixicon';
		    vertical-align: middle;
		    transition:	0.3s;
		    -webkit-transition: 0.3s;
		}
	}
	&.show{
		.dropdown-toggle{
			&:after{
				transform: rotate(180deg);
			}
		}
	}
}
header{
	&.decor-header:not(.o_header_is_scrolled){
		@media(max-width: 767.98px){
			position: unset !important;
			order: -1;
		}
	}
	&.decor-header.o_header_affixed + main{
		@media(max-width: 767.98px){
			padding-top: 0px !important;
		}
	}
	#decor_header1, #decor_header2, #decor-header3, #decor-header4, #decor_header5, #decor-header6, #decor-header7, #decor-header8, #decor-header9, #decor-header10{
		.bizople-add-to-cart{
			.o_wsale_my_cart{
			    padding-left: 0;
    			list-style: none;
				a{
					i{
						vertical-align: middle;
			    		color: #1b1b1b;

						&:before{
					    	content: "\f080" !important;
					    	font-family: "remixicon" !important;
					    }
					}
					sup.my_cart_quantity{
						background-color: #000 !important;
					}
				}
			}
		}
		.wishlist{
			.o_wsale_my_wish{
			    padding-left: 0;
    			list-style: none;
				a{
					i{
						vertical-align: middle;
			    		color: #1b1b1b;

						&:before{
							content: "\edbe" !important;
					    	font-family: "remixicon" !important;
						}
					}
					sup.my_wish_quantity{
						background-color: #000 !important;
					}
				}
			}
		}
		.dropdown, .header-myaccount {
			.dropdown-menu{
				border-radius: 0;
			    width: fit-content;
			}
		}
		.dropdown:not(.o_extra_menu_items){
			@include dropdown-caret-mixin;
		}
		.dropdown.o_extra_menu_items{
			a.dropdown-toggle{
				.fa.fa-plus{
					transition:	0.3s;
					-webkit-transition: 0.3s;
					vertical-align: middle;
				    
				    &:before{
					 	content: "\ea4e" !important;
					    font-family: 'remixicon';
					    vertical-align: middle;
					}	
				}
			}
			&.show{
				a.dropdown-toggle{
					.fa.fa-plus{
						transform: rotate(180deg);
					}
				}
			}
		}
		.mobile-sidebar-toggle{
			.btn{
				.fa , .icon , .icofont , .lnr, .lni , .ri , .ti {
					font-size: 22px;
				}
				padding: 0;
			    width: 30px;
			    height: 30px;
			    border-radius: 0;
		        background-color: transparent !important;
			    color: theme-color('secondary');
			    border-color: theme-color('secondary');
			    line-height: 37px;
			    border: 0;
			}
		}
		.mobile-cart{
			.o_wsale_my_cart{
				a{
					position: relative;
					padding: 0;
					span.ri{
				    	font-size: 20px;
					}
					sup.my_cart_quantity{
						position: absolute;
						top: -5px;
					    right: -9px;
					    width: 15px;
					    height: 15px;
					    line-height: 15px;
					    font-size: 10px;
					    border-radius: 50%;
					    padding: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 767.98px){
	#oe_main_menu_navbar{
		z-index: 1055 !important;
	}
}
#decor_header1{

	.dropdown, .header-myaccount {
		.dropdown-menu{
			border-radius: 0;
		}
	}
	.dropdown:not(.o_extra_menu_items){
		@include dropdown-caret-mixin;
	}
	.dropdown.o_extra_menu_items{
		a.dropdown-toggle{
			.fa.fa-plus{
				transition:	0.3s;
				-webkit-transition: 0.3s;
				vertical-align: middle;
			    
			    &:before{
				 	content: "\ea4e" !important;
				    font-family: 'remixicon';
				    vertical-align: middle;
				}	
			}
		}
		&.show{
			a.dropdown-toggle{
				.fa.fa-plus{
					transform: rotate(180deg);
				}
			}
		}
	}

	/* mega menu alignment */
	.bottom-header{
		.row.justify-content-center {
			.col-md-7{
				#bizople-header-1{
					#top_menu{
						.o_mega_menu{
							a.nav-link{
							    line-height: 30px;
							    border: 0;
							}
						    top: 50px;
						}
					}
				    position: unset;
				}
				position: unset;
			}
		    position: relative;
		}
	}

	/* mega menu alignment end */


	.top-header{
		.header-left{
			.menu-language{
				.btn-link{
				    padding: 0;
			        color: #ffffff;
					text-decoration: none;
				    font-size: 13px;
				    line-height: 40px;
				    @media (min-width: 768px) and (max-width: 1199.98px) {
				    	font-size: 12px;
				    }
				}
			    line-height: 40px;
			    padding: 0 10px;
			    border: 1px solid rgba(255,255,255,0.3);
			    border-top: 0;
			    border-bottom: 0;
			}
			.curruncy-selector{
				.btn-link{
					line-height: 40px;
				    padding: 0 10px;
				    color: #ffffff;
				    text-decoration: none;
				    border: 1px solid rgba(255,255,255,0.3);
				    border-top: 0;
				    border-bottom: 0;
				    border-left: 0;
			        font-size: 13px;
			        @media (min-width: 768px) and (max-width: 1199.98px) {
				    	font-size: 12px;
				    }
				}
			}
		}
		.header-right{
			.welcome-text{
				line-height: 40px;
		    	padding: 0 10px;
			    font-size: 14px;
			    border: 1px solid rgba(255,255,255,0.3);
			    border-top: 0;
			    border-bottom: 0;
		        font-size: 13px;
		        color: #ffffff;
		        @media (min-width: 768px) and (max-width: 1199.98px) {
			    	font-size: 12px;
			    }
			}
			.top-navigation{
				ul{
					li{
						a{
							padding: 0 10px;
							line-height: 40px;
							border: 1px solid rgba(255,255,255,0.3);
						    border-top: 0;
						    border-bottom: 0;
						    border-left: 0;
						    color: #ffffff;
					        font-size: 13px;
					        @media (min-width: 768px) and (max-width: 1199.98px) {
						    	font-size: 12px;
						    }
						} 
						&:last-child{
							a{
								border: 0;
							}
						}
					}
					margin: 0;
    				list-style: none;
    				padding:0;
				}
			    padding: 0 10px;
			    border: 1px solid rgba(255,255,255,0.3);
			    border-top: 0;
			    border-bottom: 0;
			    border-left: 0;
			}
		}
		background-color: theme-color('primary');
	}
	.middle-header{
		.header-left{
			.navbar-brand{
				line-height: 75px;
			}
			.mobile-sidebar-toggle{
				.fa , .icon , .icofont , .lnr, .lni , .ri , .ti {
					font-size: 22px;
				}
				padding: 0;
			    width: 30px;
			    height: 30px;
			    border-radius: 0;
		        background-color: transparent !important;
			    color: theme-color('secondary');
			    border-color: theme-color('secondary');
			    line-height: 37px;
			    border: 0;
			}
			.mobile-cart{
				a.nav-link{
					.icon{
					    font-size: 20px;
					}
					sup{
					    position: absolute;
					    top: -10px;
					    right: -10px;
					    width: 20px;
					    height: 20px;
					    line-height: 20px;
					    font-size: 11px;
					    border-radius: 50%;
					    padding: 0;
					}
					padding: 0;
					position: relative;
				}
			}
		}
		.header-center{
			.bizople-search{
				.o_wsale_products_searchbar_form{
					.search-categ{
					    border: 1px solid;
					    background-color: transparent !important;
					    border-color: #ced4da !important;
					    border-right: 0;
					    outline: none;

					    #categbtn{
					    	.categ-name{
					    		font-size: 14px;
					    		max-width: 80px;
					    		display: inline-block;
					    	}
				    	    padding: 4px 20px;
				    	    box-shadow: none;
					    }
					    .dropdown-menu{
					    	border-radius: 0;
					    	margin: 0 !important;

					    	.select-category:active{
					    		color: #fff !important;
					    	}
					    }
					}
					> .dropdown-menu.show{
			    		width: 100% !important;
			    		background-clip: initial;
			    		.media-body{
			    			h6{
			    				font-size: 12px;
			    			}
			    			p{
			    				font-size: 11px;
			    			}
			    		}
			    		.flex-shrink-0{
		    				font-size: 12px;
			    		}
			    	}
					.oe_search_box{
						border-radius: 0;
					    padding: 10px;
					    height: 40px;
					    font-size: 14px;
			    	    box-shadow: none;
					}
					.oe_search_button{
						border-radius: 0;
					    box-shadow: none;
					    padding: 4px 20px;
					    font-size: 18px;
					    background-color: theme-color('secondary') !important;
					    border-color: theme-color('secondary') !important;
					}
				    margin: 0 !important;
				    position: relative;
				}
			}
		}
		.header-right{
			a.nav-link{
				sup{
					position: absolute;
				    top: 0px;
				    right: 0;
				    width: 20px;
				    height: 20px;
				    line-height: 20px;
				    font-size: 11px;
				    border-radius: 50%;
				    padding: 0;
				}
			    font-size: 18px;
			    position: relative;
			}
			.acc-dropdown:after{
				margin: 0;
			}
			.header-myaccount{
				.js_usermenu{
					top: 10px !important;
				    left: -10px !important;
				    transform: translate3d(0px, 26px, 0px) !important;
				    &:before{
					    content: '';
					    position: absolute;
					    left: 30px;
					    top: -8px;
					    border-left: 8px solid transparent;
					    border-right: 8px solid transparent;
					    border-bottom: 8px solid #e5e5e5;
					    z-index: 100;
				    }
				}
				a.dropdown-toggle::after{
					position: absolute;
				    top: 7%;
				    right: 0;
				    color: #1b1b1b;
				}
				.user_img{
					margin: 0;
					padding: 0;
				}
				position: relative;
			}
		}
		@media (max-width: 767.98px) {
			box-shadow: 0px 0px 3px #757575;
		    z-index: 1;
    		position: relative;
	    }
	    padding: 10px 0;
	    background-color: #ffffff;
	}
	.bottom-header{
		.product-category{
			height: 50px;
			background-color: theme-color('secondary') !important;
			font-weight: 600;
    		color: #fff;
    		text-transform: uppercase;
    		line-height: 50px;
    		width: 100%;
    		a.dropdown-toggle{
    			.fa{
    				float: right;
    				font-weight: 400;
				    font-size: 14px;
				    text-align: center;
				    line-height: 50px;
    			}
    			padding: 0 16px;
    			outline: 0;
    			color: #fff !important;
    			&:hover{
    				color: #fff !important;
    			}
    			&:after{
    				display: none;
    			}
    		}
		}
		.decor-header-category{
			li.dropdown-submenu{
				.ti{
					color: #333333 !important;
				    vertical-align: middle;
				    margin-left: auto;
				}
			}

			li.dropright{
				ul.dropdown-menu{
					width: auto;
					display: block;
					padding: 0;
					z-index: 97;
					opacity: 0;
					border-radius: 0;
		        	visibility: hidden;
					margin-left: -50px;
					margin-top: 0;
					-webkit-transition: all 0.3s ease-in-out;
				    -moz-transition: all 0.3s ease-in-out;
				    -ms-transition: all 0.3s ease-in-out;
				    -o-transition: all 0.3s ease-in-out;
				    transition: all 0.3s ease-in-out;
				    @media (min-width: 768px) and (max-width: 1400px) {
				    	.nav-item > a {
			    		    font-size: 12px;
				    	}
				    	.nav-item > .ti {
			    		    font-size: 12px;
				    	}
				    }
			    }
			}

			li.dropdown:hover > ul.dropdown-menu{
		        opacity: 1;
	            visibility: visible;
		    	margin-left: 0;
		    	border-radius: 0;
			}
			a.nav-link{
				> span{
					margin-right: 15px;
				}
			    border-bottom: 1px solid #e9e9e9;
			    display: flex;
			    position: relative;
			    color: #333333;
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			    font-size: 14px;
			    text-transform: capitalize;
			    padding: 14px 16px;
			    line-height: 20px;
			    &:hover{
			    	color: theme-color('primary');
			    }
			}
			li.nav-item::last-child{
				a.nav-link{
					border-bottom: 0;
				}
			}
		    transform: unset !important;
			top: 50px !important;
			display: block;
		    width: auto;
		    min-width: 100%;
		    padding: 0;
	        opacity: 0;
	        visibility: hidden;
		    z-index: 97;
		    margin-top: -50px;
		    border-radius: 0;
	        border: 1px solid #e9e9e9;
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}
		.decor-header-category.show{
			margin-top: 0;
	        opacity: 1;
            visibility: visible;
		}
		#top_menu{
			.nav-item > a.nav-link{
			    text-transform: uppercase;
			    letter-spacing: .2px;
			    font-weight: 500;
			    font-style: normal;
			    font-size: 13px;
			    line-height: 50px;
			    padding: 0 10px;
			    color: #1b1b1b;
			    position: relative;
			}
			li.nav-item:first-child{
				a.nav-link{
					padding-left: 0;
				}
			}
			.nav-item > dropdown-menu {
				border-radius: 0;
			}
			li.o_extra_menu_items{
				.dropdown-menu-right{
					left: 0 !important;
				    width: fit-content;
				    background-clip: unset;
				}
				> .dropdown-menu{
					> li {
						border: 0 !important;
					}
					background-clip: unset;
					width: fit-content;
				}
			}
		}
		.deal-link{
			a{
				color: theme-color('primary') !important;
			    font-size: 15px;
			    font-weight: 600;
			    position: relative;
			    text-transform: uppercase;
		        text-decoration: none;
	            display: inline-block;
		        -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			    &:before{
			    	content: '';
				    position: absolute;
				    width: 0;
				    height: 2px;
				    bottom: -4px;
				    right: 0;
				    background-color: theme-color('primary');
				    -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
				    -o-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
				    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
			    }
			    &:hover{
			    	&:before{
			    	    width: 100%;
						left: 0;
				    }
			    } 
			}
		}
	    border: 1px solid #e9e9e9;
	    border-left: 0;
	    border-right: 0;
	    background-color: #ffffff;
	}
}

.o_header_is_scrolled{
	#decor_header1{
		.top-header{
			display: none !important;
		}
		.bottom-header{
			display: none !important;
		}
		.middle-header{
			box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
		}
	}
}

@media (max-width: 767.98px) {
	header .navbar-brand.logo img {
	    max-height: 1.5rem !important;
	}
}

header{
	.fa-search{
		font-family: 'IcoFont' !important;
		&:before{
		    content: "\ed12" !important;
		}
	}
}
.o_header_overlay #decor_header1 {
	@media (max-width: 767.98px) {
	    position: unset !important;
	    z-index: unset !important;
    }
}

.o_mega_menu{
    margin: 0 15px !important;
    width: -webkit-fill-available !important;
}

#decor-header3, #decor-header6, #decor-header9{
	.o_mega_menu{
		margin: 0 !important;
	}
}

#decor-header8{
	.o_mega_menu{
		margin-right: 0 !important;
	}
}

.bizople-search, .search-box {
	.o_search_result_item .media-body{
		.h6{
			font-size: 14px;
		}
		p{
			font-size: 12px;
		}
	}
	.dropdown-menu {
		.oe_price {
			font-size: 13px;
		}
		.oe_default_price{
			font-size: 12px;
		}
	}
	@media (max-width: 767.98px){
		.o_search_result_item .media-body{
			.h6{
				font-size: 14px;
			}
			p{
				font-size: 12px;
			}
		}
	}
}


.bizople-search .bizople-search-text{
		display: block;
}